@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Montserrat:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --brand-color: #f6f6f6;
  --brand-red: #e81f3d;
  --brand-red-hover: #ca1530;
}
body {
  position: relative;
  font-family: "Inter", sans-serif;
  background: var(--brand-color);
}
.loader{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 9999;
}
.loaderImg{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loaderImg img{
  width: 100vh;
}
#pdf-viewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.navbar-collapse {
  flex-grow: none !important;
}
.navbar-brand {
  width: 240px;
}
.navbar-nav .nav-item .nav-link{
  padding: 0.25rem 0.75rem;
  color: var(--brand-red);
  transition: all 150ms ease-in-out;
  border-bottom: 3px solid transparent;
  border-radius: 40px;
}
.navbar-nav .nav-item .nav-link:hover{
  color: var(--brand-red);
  border-bottom: 3px solid var(--brand-red);
  border-radius: 2px;
}
#company-logo {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.card-title {
  margin: 0 !important;
  font-size: 1.4rem;
  font-weight: 600;
}
.container.mt-5.mb-4{
  font-weight: bold;
}
#read-btn{
  background-color: var(--brand-red);
  border: 1px solid var(--brand-red);
}
#read-btn:hover{
  background-color: var(--brand-red-hover);
}
#read-btn a {
  text-decoration: none;
  color: var(--brand-color);
  font-size: 1rem !important;
}
#read-btn a:hover {
  color: #fff;
}
.btn a {
  text-decoration: none !important;
}
#allNewspapers-btn {
  cursor: pointer;
}
.fs-2{
  font-weight: bold;
  margin-bottom: 1rem;
}
.form-control:focus{
  border-color: var(--brand-red);
  box-shadow: 0 0 0 0.2rem #ca153050;
  border-radius: 2px;
}
.d-flex .btn{
  border-radius: 4px;
  border: 1px solid var(--brand-red);
  background: var(--brand-red);
  transition: all 150ms ease-in-out;
  color: var(--brand-color);
}
.d-flex .btn:hover{
  border-radius: 2px;
  background: var(--brand-red-hover);
}
@media screen and (max-width: 992px){
  .navbar-nav .nav-item .nav-link{
    padding: 0.5rem 1rem;
  }
  #card-container .card.w-75{
    width: 90% !important;
  }
  .form-control.me-3{
    margin-right: 0.75rem !important;
  }
  .d-flex .btn.fs-5{
    font-size: 1rem !important;
  }
  .loaderImg img{
    width: 90vw;
  }
}
