@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Montserrat:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --brand-color: #f6f6f6;
  --brand-red: #e81f3d;
  --brand-red-hover: #ca1530;
}
body {
  font-family: "Inter", sans-serif;
  background: var(--brand-color);
}
#pdf-viewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.navbar-collapse {
  flex-grow: none !important;
}
.navbar-brand {
  width: 240px;
}
#company-logo {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
a #register-btn {
  padding: 0.8rem 0 0.8rem 1rem !important;
}
#read-btn a {
  text-decoration: none;
  color: #1e1e1e;
  font-size: 1rem;
}
#read-btn a:hover {
  color: var(--brand-color);
}
.btn a {
  text-decoration: none;
  color: var(--brand-color);
}
#allNewspapers-btn {
  cursor: pointer;
}
